/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.column {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	/* padding:20px; */
box-sizing:border-box;
}
.column:first-child { margin-left: 0; }

.image-div{
background-image: url('../img/tomatoes.jpg'); 
background-size:cover;
background-position:center;
width:100%;
height:400px;


}

#micro-greens{
background-image: url('../img/mg-collage2.jpg'); 

}


#mushrooms{
background-image: url('../img/mr2-collage.jpg'); 

}

#veggie-collage{
	background-image: url('../img/veggie-collage2.jpg');
}


#karkonose{
	background-image: url('https://i.pinimg.com/originals/7b/f3/52/7bf352d865574191f39e568a4a958747.jpg');
}


#nature-palace{
	background-image: url('../img/applepie-land.jpg');
}
/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.column { 
		margin: 1% 0 1% 0%;
	}
	#veggie-collage{
		background-image: url('../img/veggie2-collage-xs7.jpg');
}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
